

{% extends 'base.html.twig' %}
 
{% block title %}Best Youtube Video !
{% endblock %}
 
{% block body %}
 
    <h2>Toutes les vidéos</h2>
    <div>{{ url|youtube_player|raw }}</div>
 
{% endblock %}
